aiohttp==3.7.3
aiosignal
async-timeout
asyncio
attrs
awscli
backports.entry-points-selectable
bleach
boto3
botocore
build
CacheControl
cachetools
certifi
chardet
charset-normalizer
click
cloudinary
cmudict
colorama
colormath
discord
discord-pretty-help
discord.py
discord-interactions
discord-py-slash-command
distlib
docopt
docutils
filelock
firebase
firebase-admin
Flask
frozenlist
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
googletrans
greenlet
grpcio
grpcio-status
gunicorn
h11
h2
hpack
hstspreload
httpcore
httplib2
httpx
hyperframe
idna
importlib-metadata
itsdangerous
Jinja2
jmespath
keyring
MarkupSafe
mido
MouseInfo
msgpack
multidict
networkx
numpy
opencv-python
packaging
pandas
pep517
Pillow
pipreqs
pkginfo
platformdirs
pronouncing
proto-plus
protobuf
psycopg2
pyasn1
pyasn1-modules
PyAutoGUI
PyGetWindow
Pygments
PyJWT
PyMsgBox
pyparsing
pyperclip
PyRect
PyScreeze
pyspectrum
python-dateutil
python-dotenv
pytweening
pytz
pywin32-ctypes
PyYAML
readme-renderer
requests
requests-toolbelt
rfc3986
rsa
s3transfer
six
sniffio
SQLAlchemy
tomli
tqdm
twine
typing-extensions
uritemplate
urllib3
virtualenv
webencodings
websockets
Werkzeug
yarg
yarl
zipp